{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ts", ".tsx"],
        "alias": {
          "pages": "./src/library",
          "library": "./src/library",
          "res": "./src/res"
        }
      }
    ]
  ]
}