.Cat-Image-content {
  background-size: cover;
  background-position: 50%;
  height: 40vh;
  width: 40vh;
  border-radius: 40vh;
  border: 10px white solid;
  transition: 0.3s;
}

.Cat-Image-content:hover {
  border: 15px white solid;
}

@media screen and (max-width: 1024px)
{
  .Cat-Image-content {
    background-size: cover;
    background-position: 50%;
    height: 20vh;
    width: 20vh;
    border-radius: 20vh;
    border: 5px white solid;
    transition: none;
  }
  
  .Cat-Image-content:hover {
    border: 5px white solid;
  }
}
