.Battle {
  background-color: #1BBC9B;
  height: 100%;
}

.Battle-content {
  display: flex;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 1024px)
{
  .Battle-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
